[2016-11-14 12:53] Fullmono opened #2 "Update needed"
An error appear a few days ago.

While doing calc_route_info() , I receive an error:

`File "/usr/local/lib/python2.7/dist-packages/WazeRouteCalculator/WazeRouteCalc                        ulator.py", line 79, in calc_route_info
    route = self.get_route()
  File "/usr/local/lib/python2.7/dist-packages/WazeRouteCalculator/WazeRouteCalc                        ulator.py", line 69, in get_route

[2016-11-14 13:13] kovacsbalu commented on #2
Hi @Fullmono, thanks for your notification. I will check it soon.

[2016-11-14 14:46] #2 closed

[2016-11-16 08:45] kovacsbalu opened #3 "install_requires"
Fill install_requires in setup.py

[2017-03-08 22:14] alexsho opened #4 "Waypoint ?"
Is it possible to request routing with waypoint ?
Does waze API support this ?

[2017-03-15 09:40] kovacsbalu commented on #4
Sorry @alexsho, I dont know.

[2017-06-08 19:46] kovacsbalu commented on #3
Done

[2017-06-08 19:46] #3 closed

[2017-06-08 20:21] #4 closed

[2017-06-15 17:37] jayfiro opened #9 "ValueError: Unknown level:"
When running:

import WazeRouteCalculator

from_address = 'Budapest, Hungary'
to_address = 'Gyor, Hungary'
region = 'EU'

route = WazeRouteCalculator.WazeRouteCalculator(from_address, to_address, region)

The last line gives ValueError: Unknown level: 'EU'

[2017-06-17 17:04] kovacsbalu commented on #9
Hi @jayfiro, sorry but I cannot reproduce. Are you using git master branch?

[2017-06-19 09:56] Scimonster commented on #9
@kovacsbalu Maybe update the version on pip?

[2017-06-19 10:43] kovacsbalu commented on #9
Yes, just waiting a bit for pr. :)

[2017-06-19 10:50] Scimonster commented on #9
PR submitted. :) #10

[2017-06-19 10:57] kovacsbalu commented on #9
Yep, I also got a mail about it. :)

[2017-06-20 10:00] kovacsbalu commented on #9
@jayfiro please check new 0.4 version. [https://pypi.python.org/pypi/WazeRouteCalculator/0.4](url)

[2017-06-20 11:43] jayfiro commented on #9
@kovacsbalu it works now with version 0.4.

[2017-06-20 11:43] #9 closed

[2017-06-29 18:41] eli-betito opened #14 "ValueError: No JSON object could be decoded"
Can anyone help me figure out why I get this error only when I try to use Israel ?
[code]

Below is my code,
[code]
Thanks!

[2017-07-03 12:26] lovato commented on #14
Well, I started having this issue today. The same code that was running on Friday.

[2017-07-03 12:58] lovato commented on #14
#15 solves this.

[2017-07-03 12:59] kovacsbalu commented on #14
Hi, so this problem caused by the waze server or need a fix in our wrc?

[2017-07-03 12:59] kovacsbalu commented on #14
Ohh, let's check the fix :)

[2017-07-03 13:05] kovacsbalu commented on #14
@lovato great! Thanks!

[2017-07-03 13:05] #14 closed

[2017-07-03 13:11] eli-betito commented on #14
It's still not working for me.

[2017-07-03 13:16] kovacsbalu commented on #14
Please wait for version 0.5 or download from github
[https://github.com/kovacsbalu/WazeRouteCalculator/archive/0.5.zip](url)

[2017-07-03 14:39] eli-betito commented on #14
Thank you guys so much :-)

[2017-08-29 18:02] kissscool commented on #14
Hello,

I have a error while using your amazing code. It was working few days ago.
Here is the error message :
"
File "C:\Waze API\lib\waze_route_calculator.py", line 99, in get_route
raise WRCError(response_json.get("error"))
WRCError: Internal Error
"

Any guess ?

Thanks

[2018-06-28 01:05] gkhartman opened #16 "Calling calc_route_info() results in JSONDecodeError"
Update: When looking deeper I noticed that the request in get_routes() returns a 403 error response.

Here's the error message at the bottom of the resulting stack trace:
[code]
This code should reproduce the error (confirmed on python 2.7):
[code]

[2018-06-28 11:40] Petro31 commented on #16
This is actually occurring quite frequently now with valid data.

[2018-06-28 12:42] kovacsbalu commented on #16
Hi, actually looks good. Can you please get some debug info or stack trace? What is in the response?

[2018-06-29 08:16] gkhartman commented on #16
@kovacsbalu I ran request code found in the WazeRoutCalculator.get_route method and have printed the GET response (It's a code 403 response). Here's the code with output that includes the json parsing stack trace at the bottom:
Code:
[code]
Output:
[code]
It could be that the request is rejected by the server due to a missing User Agent or session token. Also, note that I'm running this with the U

[2018-06-29 12:12] Petro31 commented on #16
Also running from US.  Home Assistant has a user that is using IL that has the same issue though.

[2018-06-30 19:52] #16 closed

[2018-07-23 18:34] raufis27 opened #19 "Miles"
Hello,
Is is possible to get results in miles instead of km ?

[2018-07-23 18:57] #19 closed

[2018-08-11 22:12] pulsarxp opened #20 "No JSON object could be decoded"
Szia,
mostanában ezt a hibaüzenetet kapom:
File "wazetest.py", line 6, in <module>
    route.calc_route_info()
  File "/usr/local/lib/python2.7/dist-packages/WazeRouteCalculator/WazeRouteCalculator.py", line 133, in calc_route_info
    route = self.get_route(1, time_delta)
  File "/usr/local/lib/python2.7/dist-packages/WazeRouteCalculator/WazeRouteCalculator.py", line 92, in get_route
    response

[2018-08-12 20:33] kovacsbalu commented on #20
Szia,
ez akkor fordul elő ha a waze szerver vmi hibát ad. Melyik WazeRouteCalculator verzioval nézed? Volt gond a hiányzó user-agent headerből de az már fixálva lett.
Az előbb nekem működött.

[2018-08-13 04:12] pulsarxp commented on #20
Szia,
Köszönöm szépen a segítséget. Egy frissítés megoldotta a problémát, mert nekem meg a 0.5 volt fent.
Köszönöm még egyszer.

[2018-08-13 04:12] #20 closed

[2018-09-10 12:51] BonoVanderpoorten opened #21 "ValueError"
Hey,

Thanks a lot for the API, been using it off and on for a while. Wanted to use it this week and saw this error trace getting thrown with the simple scripts I've written. (Tbh it's your quickstart script with changed hardcoded locations nothing big really)
And I've been getting this:

[code]

Am I missing something obvious here?

Kind Regards,

[2018-09-10 12:58] kovacsbalu commented on #21
Hi @BonoVanderpoorten,
can you please print your WRC version?
[code]

[2018-09-10 17:38] BonoVanderpoorten commented on #21
Hey @kovacsbalu

This is kinda weird, since I ran `pip install WazeRouteCalculator` and it showed version 0.6 got installed so I thought I was updated. I'll figure out how to update, sorry for the fake issue!

[code]

[2018-09-10 17:39] #21 closed

[2018-09-11 18:36] aquirin opened #22 "WazeRouteCalculator is not working"
It seems now that https://www.waze.com/row-RoutingManager/routingRequest returns a 403 error. Is that only me?

[2018-09-12 07:10] kovacsbalu commented on #22
Yes, when you open in browser. WazeRouteCalculator works well :)

[2018-09-12 07:10] #22 closed

[2018-09-12 10:46] aquirin commented on #22
Ok but did you run it again? I am getting the error with the module not the
browser

Le mer. 12 sept. 2018 à 09:10, Kovács Bálint <notifications@github.com> a
écrit :

[2018-09-12 11:07] kovacsbalu commented on #22
Sure, I double checked and is was ok. Can you please send more details? Output?

[2018-09-18 01:53] aetolus opened #24 "Request: Australia region"
Hi,

Thanks for your work on this.

I was wondering if it would be possible for you to add Australia as a region in WazeRouteCalculator?

Thanks,

[2018-09-18 08:08] kovacsbalu commented on #24
Hi @aetolus, region is used for base coords in search request.
You can use WRC with EU/US...region code, but you should give exact address.
I will add AS if you want with Camberra base coords.:)

[2018-09-19 20:34] randyinla commented on #19
I just added a calculation in my python script that calls WazeRouteCalculator:

route_time, route_distance = route.calc_route_info()
print '%.2f minutes, %.2f miles' % (route_time, route_distance * .621371)

[2018-10-02 08:06] kovacsbalu opened #25 "Alerts on route"
www.waze.com/row-rtserver/web/TGeoRSS...
servers: "rtserver", "row-rtserver", "il-rtserver"

[2018-10-02 08:11] #24 closed

[2018-10-02 08:13] kovacsbalu commented on #24
@ngshiheng Sure, can you please send me a base place coords?

[2018-10-11 21:16] KidSquid1 opened #28 "Return Miles instead of KM"
Hello -

Is there a way to have the script return MILES instead of KM?

Thanks,

Squid

[2018-10-15 06:07] welderwelder commented on #28
multiply 0.621371192 :]

[2018-10-15 07:05] kovacsbalu commented on #28
Duplicate of #19

[2018-10-15 09:24] welderwelder opened #29 "Json error accepted while testing simple example"
on python 2.7 while running the example, receive an abend as attached:
(worked fine couple of months ago...)

From: Budapest, Hungary - to: Gyor, Hungary
Traceback (most recent call last):
  File "work.py", line 9, in <module>
    route.calc_route_info()
  File "/usr/local/lib/python2.7/dist-packages/WazeRouteCalculator/WazeRouteCalculator.py", line 133, in calc_route_info
    route = self.get_rou

[2018-10-15 09:32] kovacsbalu commented on #29
Hi @welderwelder ,
can you please print your WRC version?
Maybe this is duplicate of #21

import WazeRouteCalculator
print(WazeRouteCalculator.__version__)

[2018-10-15 10:02] welderwelder commented on #29
i'm exactly looking at it..
made next:
root@tali(12:17,90%):~/acmeinc/swirun# pip install WazeRouteCalculator
Requirement already satisfied: WazeRouteCalculator in /usr/local/lib/python2.7/dist-packages
Requirement already satisfied: requests in /usr/lib/python2.7/dist-packages (from WazeRouteCalculator)
root@tali(13:00,100%):~/acmeinc/swirun# python
Python 2.7.13 (default, Dec 18 2016, 20:19:42)

[2018-10-15 10:05] kovacsbalu commented on #29
Thanks!
Can you please update WazeRouteCalculator to version 0.6?

[2018-10-15 10:13] welderwelder commented on #29
by doing pip uninstall + pip install ? (because i made pip install once again and it notifies that the requirements already satisfied)

[2018-10-15 10:19] kovacsbalu commented on #29
pip install <pkg> -U

[2018-10-15 10:19] welderwelder commented on #29
just made unistall+install. works fine.
it seems a nice idea to write down as an upgrade instruction to perform unistall+install
(maybe it's just my newbie lack of knowledge...)
thanks a lot for your help :}

[2018-10-15 10:26] #29 closed, assigned to nobody

[2018-11-21 08:54] #28 closed

[2018-12-25 05:44] SConaway opened #30 "Documentation"
What source did you build this off of? I'm trying to make something similar and can't find anything on Waze's website.

[2018-12-27 20:38] kovacsbalu commented on #30
Just try to do the same as waze.com/livemap

[2018-12-27 22:33] SConaway commented on #30
In what way?

[2018-12-28 13:32] kovacsbalu commented on #30
Capturing traffic or using network inspector in browser....etc

[2019-02-10 01:17] cbrherms opened #31 "Feature request: add option to choose whether car or motorcycle"
The waze api allows for a `vehicleType` param that accepts either `TAXI` or `MOTORCYCLE` and adjusts the route / expected travel time accordingly.

Could an optional variable please be added to the calculator that accepts one of these values?

[2019-02-10 03:03] cbrherms commented on #31
Examples:

Manchester Piccadilly to Birmingham New street (England).

**Without:**
`https://www.waze.com/row-RoutingManager/routingRequest?from=x:-2.231219 y:53.477387&to=x:-1.898886 y:52.477901&at=0&returnJSON=true&returnGeometries=true&returnInstructions=true&timeout=60000&nPaths=1&options=AVOID_TRAILS:t`

[code]
Time = 1 Hour, 50 Minutes and 23 Seconds

**Taxi:**
`https://www.waze.com/row-Routi

[2019-02-10 19:48] kovacsbalu commented on #31
Hi @cbrherms good feature. Thanks! I will ... :)

[2019-02-10 19:48] #30 closed

[2019-02-10 20:43] cbrherms commented on #31
@kovacsbalu
I've opened a PR #32 with the changes I believe gets this done. I don't think this should be a breaking change for anything, and while i've done my own testing here i've not written any tests for travis.

[2019-02-11 08:37] kovacsbalu commented on #31
Thanks, for your PR. I will change a bit before next release. Default should no vehicleType in request.

[2019-02-11 08:37] #31 closed

[2019-02-11 08:53] cbrherms commented on #31
Thanks :)

[2019-02-13 18:51] ljmerza opened #33 "does this always return km?"
Seems to sometimes return imperial units depending on location. Are there any docs for this api endpoint?

[2019-02-13 23:35] cbrherms opened #34 "empty vehicleType causes empty response."
https://github.com/kovacsbalu/WazeRouteCalculator/blob/5319b796a0e7fe5dba07b0c66b1313e408af63a4/WazeRouteCalculator/WazeRouteCalculator.py#L91

^ This being empty when vehicle_type is not defined causes an empty response. If it is included in the sent params it must contain a valid type of 'PRIVATE', 'TAXI', 'MOTORCYCLE', or 'ELECTRIC' (US and Canada region only).
[source](https://support.google.c

[2019-02-14 08:01] kovacsbalu commented on #34
Thanks @cbrherms, I will fix it immediately.

[2019-02-14 08:05] kovacsbalu commented on #33
Hi @ljmerza, can you please send an example?

[2019-02-14 08:31] kovacsbalu commented on #34
Fixed!

[2019-02-14 08:31] #34 closed

[2019-02-17 19:50] SConaway opened #35 "This randomly seems to error on finding co-ords."
This randomly seems to error on finding co-ords. Any ideas?

I'm in the US, trying to find a route with `to_address = '301 N Orange Grove Blvd, Pasadena, CA'`

[2019-02-18 09:05] kovacsbalu commented on #35
Hi @SConaway, can you please test with [feat-searchserver-region](https://github.com/kovacsbalu/WazeRouteCalculator/tree/feat-searchserver-region) branch?

[2019-02-18 15:11] ljmerza commented on #33
I use home assistant and created a [waze-card](https://github.com/ljmerza/waze-card) for lovelace UI but am having trouble getting consistent units of measurement for all my users. My home assistant is setup for imperial units but when the waze component uses your library to get the distance it brings it back in kilometers. Other users are reporting it works correctly though. You can see here the

[2019-02-18 15:23] kovacsbalu commented on #33
I see. Maybe waze-card should convert to miles. WazeRouteCalculator has no option for unit, as I know waze api returns in km. But probably it depends on routing server.

[2019-02-18 15:27] ljmerza commented on #33
Yeah that's my issue. It's not consistent. I initially did try to convert
in my card but if the data from your library isn't consistent then it
doesn't matter. At this point I'll just display the direct data that comes
from the waze library. Not much to do from there. Thanks!

On Mon, Feb 18, 2019 at 10:23 AM Kovács Bálint <notifications@github.com>
wrote:

[2019-02-18 15:34] hmmbob commented on #33
After the fix for #35, you might get more stable results (as the routing server will be chosen based on the region you selected). You might be able to link km vs mi to the region selected in Home Assistant then for the Waze card.

[2019-02-18 17:30] SConaway commented on #35
That works much better. Now it just fails to find a route, but at least it's one more step.

[2019-02-18 17:31] SConaway commented on #35
That works much better. Now it just fails to find a route, but at least it's one more step.

[2019-02-20 08:26] mikeage commented on #35
Is it possible to merge feat-searchserver-region?

[2019-02-22 09:17] kovacsbalu commented on #35
sure :)

[2019-02-22 10:20] #35 closed

[2019-02-22 10:21] kovacsbalu commented on #33
@ljmerza can you please test with version 0.9?

[2019-02-24 16:13] ljmerza commented on #33
Looks like there's a pull request to merge v0.9 into home assistant https://github.com/home-assistant/home-assistant/pull/21130

[2019-02-24 16:21] hmmbob commented on #33
Expect it in HA 0.89

[2019-03-03 18:38] Petro31 opened #36 "Error not properly raised"
Empty response is always raised in get_route when no servers return a result because if statement has an extra not.  Should be:
[code]

I'd also argue that the error "empty response" should be changed to "no response from server"

Lastly, Why do these errors occur so much?  I added a debug statement in the loop to see responses and it seems like the waze api is always returning an 'error': 'Intern

[2019-03-10 13:31] Petro31 commented on #36
This issue will be resolved if we use https://github.com/kovacsbalu/WazeRouteCalculator/pull/37

[2019-03-16 22:44] PlayedIn commented on #36
Can you please accept the PR?  Getting empty response constantly.

[2019-03-18 08:22] #36 closed

[2019-03-20 11:07] eleonorapeck opened #38 "Europe address_to_coords issue"
Hi,
it seems to me that the 'address_to_coords' returns incorrect coordinates (I used Italian addresses). I think it depends on the 'EU' COORD_SERVERS: if I use 'SearchServer/mozi' instead of 'row-SearchServer/mozi' it seems to work correctly.
Let me know if you agree.

Thank you very much,
Eleonora

[2019-03-27 01:29] Petro31 commented on #38
I can confirm this.  As well as many home assistant users.

[2019-03-27 08:15] kovacsbalu commented on #38
Hi @eleonorapeck, can you please give some example?

[2019-03-27 08:15] #33 closed

[2019-03-27 13:38] eleonorapeck commented on #38
Hi @kovacsbalu , you can try with the following address
'BOLANO, VIA ITALIA 66'
It returns the following (wrong) coordinates:
{'lat': 47.501262664, 'lon': 19.053106307, 'bounds': {}}

It seems it really depends on the region initial coords (that are centered in Budapest if I remember correctly) so it finds a Bulgarian address.

Thank you!

[2019-04-16 07:00] Mariusthvdb commented on #38
just to give this some more weight Ill add my +1

this used to work just fine:

[code]

but now results in these Waze errors:
[code]

please see if you can return the functionality

[2019-04-16 07:41] kovacsbalu commented on #38
@Mariusthvdb try with full name:
[code]

[2019-04-16 08:08] kovacsbalu commented on #38
@eleonorapeck you can fix with adding country. Try this:
[code]

[2019-04-16 08:15] kovacsbalu commented on #38
WazeRouteCalculatro use address to coord like waze.com/editor. Maybe neeed to check live maps solution.

[2019-04-18 20:10] Mariusthvdb commented on #38
@kovacsbalu
thanks.
Just noticed that my Homeassistant instance 84.3 reads the Waze_travel_time coordinates perfectly fine...

it's my HA 91.2 set-up causing the issues. So either the component in HA has changed something incorrectly or the full updated caused things to go awol
Maybe @petro31 knows more about this?

have a look:

HA 84.3
![Schermafbeelding 2019-04-18 om 22 07 51](https://user-imag

[2019-05-16 17:44] Petro31 commented on #38
Nothing can be done.  I put in a PR against home assistant back in march and it hasn't been merged.  You're welcome to use it as a custom component.  You can also just use the 84.3 version as a custom component.  Either way, my hands are tied in the matter.

[2019-05-16 20:55] hmmbob commented on #38
The Home Assistent pull request has the "in progress" label still attached to it (probably falsely). Items with "in progress" are filtered when the developers select PRs for the updates - hence your PR was likely never seen.

It also has some branch issues by now - maybe solve those to get the label removed, and/or try opening a new PR (again .....).

(I'm no dev, just noting my observations)

[2019-05-16 23:01] Petro31 commented on #38
Ah, I did not know that.  I only dev for them once and a while.  Partly because of issues like this.  I'll see if I can remove the in process flag and clear the merge issues.  They are minor and i'm not even sure why they are coming up as none of the files cross with the recent changes.  Probably some safety precaution.

[2019-05-22 00:51] jsheputis opened #40 "Enhancement: Ability to avoid tolls or ferries"
The waze api supports filtering routes out that are on tollways or that utilize ferries.

 - OPTIONS
    - `AVOID_TOLL_ROADS:t`
    - `AVOID_FERRIES:t`

[2019-05-22 06:19] raman325 opened #42 "Enhancement: Unit conversion for time and distance"
It would be great if there was a way to specify distance and time units by passing in new parameters to `calc_route_info` and `calc_all_route_info`. I was thinking of using [pint](https://github.com/hgrecco/pint) to handle the unit conversions. I have an idea of how to implement this, just wanted to get your thoughts and see if it was worth the effort. The plan would be to add additional parameter

[2019-05-22 13:35] raman325 commented on #42
It was a quick enhancement so I proposed a PR here: https://github.com/kovacsbalu/WazeRouteCalculator/pull/43

[2019-05-23 07:34] kovacsbalu commented on #40
merged #41

[2019-05-23 07:34] #40 closed

[2019-05-24 08:00] kovacsbalu commented on #42
Hi @raman325,
thanks for your PR. But, as you can see `calc_route_info` and `calc_all_route_info` returns only numbers without unit. So you can convert this after.
In other hand, I don't want to depend on 3rd party lib.

[2019-05-28 23:18] raman325 commented on #42
Fair enough, I actually came to the same conclusion after thinking about it, but kept the PR up since the work was already done

[2019-05-28 23:18] #42 closed

[2019-06-28 13:43] Mariusthvdb commented on #38
sorry I forgot to get back on this...

I did change to the full names, and indeed it returns a distance now, but it completely incorrect.. Which is rather awkward since there are no other cities with the same name....

tried it in Dutch (as the website does) but that is not recognized...

All in all, it is a pity we can't simply calculate the travel time between 2 cities (by name) ,( or a city and

[2019-06-30 21:49] CrispinP commented on #38
I've just started seeing these errors too.
I have 3 checks - it seems that the UK post codes are having a problem being found. From my house to W14 9YW is apparently 197km. It's only around 30. To another postcode, SW1X 7XL, it complains it cannot find the coords for it.

Has waze changed something that is causing this?

[2019-07-06 23:50] gnkarn opened #44 "Problem with south América Lat, Lon NOT working"
In the last modification the travel time call for South America Latiitud and longitude was broken , it was working fine before .

Appreciate if you can test and confirm .

Thank you

[2019-07-11 06:48] kovacsbalu commented on #44
Hi @gnkarn can you please give an example?

[2019-07-11 06:51] kovacsbalu commented on #38
Hi @CrispinP, can you please show and example? Please try to check your addresses on waze live map.

[2019-07-19 22:02] CrispinP commented on #38
@kovacsbalu
Postal address on the live map works but Waze converts / suggests a slightly better address; it prefixes it with London.
If I put the full address in then it works ok.

I don't think this is your error or anything you can change. In the UK post codes are pretty exact and it should work. Waze is decoding the address wrong.

Solution: Put the full address in and it works :)

Thank you fo

[2019-07-19 22:14] CrispinP commented on #38
ok, scratch that. There is something funky going on. The exact address, no matter what I use, is landing somewhere odd. See screen grab below
![image](https://user-images.githubusercontent.com/27884877/61568223-4f9e0980-aa7a-11e9-8589-91cac188e664.png)

Here is what google thinks: https://www.google.co.uk/maps/dir/SG14+1PB/W14+9YW/@51.6445848,-0.3667965,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x4876

[2019-07-22 07:08] kovacsbalu commented on #38
@CrispinP check this:

[code]

[code]

[2019-07-22 08:46] CrispinP commented on #38
I wonder why they no longer resolve the postcode to an exact address. Moreso, I wonder to where this postcode is resolved.

I guess this is not your problem or anything you can control.

thanks for the time and effort.

C

[2019-07-24 09:48] sretalla opened #45 "Vignette system not processed in EU (rp_subscription)"
The changes on the waze site means that when routing in Europe, unless Vignettes are specified to cover toll roads, toll roads will not be used in the route regardless of the avoid_toll_roads selection.

In order to get it to work properly, you can either set preferences in the mobile app to indicate you have the vignette for the country(ies), or you can add &rp_subscription=* to the URL (or speci

[2019-07-24 09:57] sretalla commented on #45
For example, this:
[Route without subscription](https://www.waze.com/livemap/directions?latlng=46.4729464%2C6.8365348&from=46.5517187%2C6.5628022&at=now)

vs this

[Route with subscription](https://www.waze.com/livemap/directions?latlng=46.4729464%2C6.8365348&from=46.5517187%2C6.5628022&at=now&rp_subscription=*)

[2019-07-24 12:25] sretalla commented on #45
Although I understand why this could be viewed as a request for a new feature/enhancement to allow the specification of vignettes, I would argue that the current status with the API as it is produces a consistently wrong result which doesn't take into account the options with "toll roads", which are clearly the best and quickest, so for me it's an issue... anyway, I appreciate any help in order to

[2019-07-24 12:32] kovacsbalu commented on #45
Hi @sretalla, I'll check it soon. BTW any PR with tests are welcomed.

[2019-07-24 12:41] sretalla commented on #45
I'm certainly no coding expert and really don't know enough about how a PR works to submit one, but if I can get a little guidance on how the request builds the API (I can't decipher how the final URL is really put together), I would be happy to work on a way to include the &rp_subscription=* into it... maybe also allowing a variable to specify a country or list of countries for those who need tha

[2019-07-25 08:19] sretalla commented on #45
I did a little digging and the format is &rp_subscription=vignette-switzerland (replace switzerland with other European countries as appropriate).

[2019-07-25 09:23] sretalla commented on #45
Seems you can chain them together in the URL, like &rp_subscription=vignette-switzerland&rp_subscription=vignette-austria

[2019-07-26 14:15] sretalla commented on #45
OK, so I created a version of the script that works...

What is needed is pretty much just to use subscription=* or subscription=vignette-country (also OK to add multiples) (rp_subscription=*, etc is needed in the live map site, but doesn't work in the routing servers for the API).

I added the line under url_options

            "at": time_delta,
            **"subscription": self.RP_SUBSCRIPTION

[2019-07-26 23:03] sretalla commented on #45
I figured out how to use pull requests and made one.

Assuming the request is accepted, we're all done here (for now) since the subscription=* option is covered as long as avoid_toll_roads isn't set.

[2019-07-27 09:38] sretalla commented on #45
Along the way to figuring this out, I saw some discussion about Mexico and a few other countries too.
In that discussion, ideas were floated around about keeping avoid_toll_roads separate from the vignettes, since it can happen that you want to avoid toll roads not covered by the vignettes you have specified. (they settled on having a setting for avoid_toll_roads and an all_vignettes setting witho

[2019-07-27 21:52] sretalla commented on #45
I added test cases by copying and slightly modifying the cases for avoid_toll_roads, but it seems I don't understand the tests completely as I see messages about failing build... help would be appreciated.

[2019-07-31 08:17] kovacsbalu commented on #45
Yes, Thats why I ask you in PR.

[2019-07-31 09:59] sretalla commented on #45
As initially specified in the issue description, if I don't specify to avoid toll roads, but plan a route in Switzerland, no toll roads will be used since the current version of the script doesn't account for the vignette system which controls the toll roads in a bunch of countries in Europe.

In order to have the avoid toll roads option correctly behave for those countries, you need to specify th

[2019-08-08 13:45] sretalla commented on #45
@kovacsbalu Will you be accepting the PR?

[2019-08-08 14:16] kovacsbalu commented on #45
see pr #46

[2019-08-08 14:43] #45 closed

[2019-08-08 15:17] sretalla commented on #45
@kovacsbalu  I made your requested changes and submitted a new PR. Please accept it.

[2019-08-08 15:35] sretalla opened #48 "Toll roads avoided in some countries when avoid_toll_roads not set."
In some European countries (and maybe others), the vignette system is used for toll roads and the Waze API doesn't respect them as toll roads, rather as subscription roads, meaning without setting the avoid_toll_roads option to True, toll roads are avoided in those countries regardless.

A new option for subscription roads is needed.

[2019-08-08 15:36] sretalla commented on #48
See PR #47 for the solution.

[2019-08-10 01:15] thomasbh opened #49 "Internal Error"
Hey,

Thank you very much for your awesome algorithm. I'm getting Internal Error randomly after running the script (sometimes among "empty responses")  Do you know why and how could I avoid it?

Thank you very much in advance.

Thomas

[2019-08-14 10:49] sretalla commented on #48
@kovacsbalu will you be accepting the PR which was constructed as you requested with the subscription roads option?

[2019-08-15 11:41] kovacsbalu commented on #48
Sure, I was on leave :)

[2019-08-15 11:41] #48 closed

[2019-08-15 11:43] kovacsbalu commented on #49
Hi @thomasbh, can you please give some examples or logs?

[2019-10-07 14:39] mikeage opened #50 "Duplicate logging in HA"
When using WazeRouteCalculator in HomeAssistant (and presumably elsewhere), certain lines are logged multiple times. For example:
[code]
This seems to be because of:
[code]
Is there a reason why you do this?

[2019-10-11 07:10] welo78 opened #51 "Waze travel time in Slovakia (and other EU countries) not using highways"
Hello since the addition of vignettes for highways in 12.12. 2018 (I read this on waze forum). The route calculations for Slovakia (maybe other countries aswell) does not seem to be working properly. As I recall the waze travel time component uses waze's live map to calculate the best route. However for Slovakia it does not as you can see below. (No this has nothing to do with obstructions on the

[2019-10-12 19:28] welo78 commented on #51
@sretalla I just got a response on the issue on Home Assistant github and here it is :

[Home assistant waze route calculator issue](https://github.com/home-assistant/home-assistant/issues/27400#issuecomment-541353199)

I do not know how this works actually and what do they talk about. I would gladly like to solve this issue for you but IDK how can I help with this.

[2019-10-12 19:56] mrand commented on #51
@sretalla It appears that there hasn't been an official release since March:

https://github.com/kovacsbalu/WazeRouteCalculator/releases

Presumably if it was updated, then https://pypi.org/project/WazeRouteCalculator/#history could be updated, and then Home Assistant could update.

[2019-10-12 20:38] kovacsbalu commented on #50
Hi @mikeage, probably WazeRouteCalculator got two logger. One with debug and an other with info level. As I can see in HA source waze route calculator run with debug log. Can you please get some information about logger name or provide some example code?

[2019-10-12 20:39] #38 closed

[2019-10-12 20:39] #44 closed

[2019-10-12 20:39] #49 closed

[2019-10-12 20:46] kovacsbalu commented on #51
Hi All, you are right. This feature has not been released. Coming soon :) (i hope i have time on Monday)

[2019-10-12 21:01] mikeage commented on #50
I think it's one logger with multiple handlers. There's the one that HA attaches and the one added in the snippet I pasted. The HA one is configured to output INFO (and has some formatting), whereas the one here doesn't do formatting and includes DEBUG.

I'm not sure why the HA handler doesn't show up in the `if` here, but this seems to be the issue. Maybe there's a better way? (truth is, I don't

[2019-10-14 12:50] kovacsbalu commented on #50
Hi @mikeage, can you please check fix-logging branch?

[2019-10-14 17:28] welo78 commented on #51
@kovacsbalu Hello, did you get to it yet to fix the issue ? So I am assuming all is needed is to publish a new release yeah ?

I say this like its a piece of cake but all my knowledge is just theoretical, IDK how much work is needed to actually release it so please do not stone me to death.

[2019-10-14 18:27] mikeage commented on #50
The fix-logging branch was a bit behind `master`, so I just cherry-picked the commit. Removing the log_lvl from `__init__` breaks the plugin, but if I keep that line, it seems ok. That said, you're using logging in a rather weird way... I'm not sure why you're attaching a null handler in the first place :-/

[2019-10-14 19:22] kovacsbalu commented on #50
Yep, now synced with master and added log_lvl warning.
Weird way? Check... https://docs.python.org/3/howto/logging.html#configuring-logging-for-a-library

[2019-10-14 19:24] kovacsbalu commented on #51
Busy days....and also waiting for #50

[2019-10-14 19:25] mikeage commented on #50
Gotcha. I didn’t know about the recommendation for the null handler. Thanks! The note there about not putting other handlers, though, is what I first thought of.

[2019-10-14 19:30] kovacsbalu commented on #50
Can I merge master and release v0.11?

[2019-10-14 19:30] mikeage commented on #50
Looks good to me.

[2019-10-14 19:30] mikeage commented on #50
Thanks!

[2019-10-15 19:24] #50 closed

[2019-10-15 19:43] kovacsbalu commented on #51
Done.
https://pypi.org/project/WazeRouteCalculator/0.11/

[2019-10-20 08:06] hmmbob commented on #51
I am working on the integration in Home Assistant, and while AVOID_TOLL works fine, the AVOID_SUBSCRIPTION_ROADS throws an error when set to True. Any idea why?

[2019-10-21 07:30] welo78 commented on #51
@hmmbob how can I update it manually ? I must wait for next release of HA no ?

[2019-10-21 08:16] hmmbob commented on #51
That is the easiest option, just to wait. You can do the code changes locally yourself too if you are comfortable with that - use the pull requests in this location and HA.

[2019-10-21 14:48] #51 closed

[2019-11-26 18:58] onkelbeh opened #53 "LGPL-3 or GPL-3"
Hi Kovács,

Thanks for your work.

I am using your component `WazeRouteCalculator` for my [Home Assistant Overlay for Gentoo Linux](https://github.com/onkelbeh/HomeAssistantRepository) and I am confused about your license selection.

You state `LGPL-3` on Github Project Page, and `GPL-3` in setup-py and on Pypi. These are different but should be unique.

I have now assumed that `GPL-3`is the corre

[2019-11-27 08:36] #53 closed

[2019-11-27 08:36] kovacsbalu commented on #53
Thanks, @onkelbeh fixed.

[2020-03-16 11:30] erikwachters opened #54 "log_lvl"
Hi,

I have the following warning in my home assistant log:

`WARNING (SyncWorker_9) [WazeRouteCalculator.WazeRouteCalculator] log_lvl is deprecated please check example.py`

[2020-03-16 12:08] kovacsbalu commented on #54
Hi, as I can see you are using from home assitant?
Probably your module set `log_lvl` arg but this is deprecated since 0.10.

[2020-03-16 12:08] #54 closed

[2020-10-06 04:33] victorccaldas opened #55 "Included regions"
Why are the only regions included for traffic and routing optimization Europe, North America and Israel?
Would be great to see other territories approached as well, such as Brazil or South America.

[2020-10-06 06:54] kovacsbalu commented on #55
Hello,
As I know Waze has 3 servers, United States/North America, Israel, and Rest of World. So when you sets region as US, NA, IL, EU, or AU, it corresponds to these servers.
Probably we should remove the AU and use one of the 3 server and custom base coordinate.
Feel free to create a pull request. :)

[2020-10-06 21:58] victorccaldas commented on #55
Oh ok.
Don't know about it's servers, but it (the mobile app) works perfectly here in Brazil.
Also I didn't understand what AU stands for, in between the areas you mentioned?

[2020-10-07 12:56] hmmbob commented on #55
Australia.

Basically what he is saying, is that it only refers to which backend servers the component uses with Waze (Waze has 3 servers, US, Israel, Rest-Of-World). The logic with country codes is to assist the code in choosing a nearby server, but it doesn't really impact your usage.

You can just use the component without bothering (but might want to use a server close to you)

[2021-07-14 08:34] LucidityCrash opened #57 "Europe address_to_coords issue #38 is happening again"
Europe address_to_coords issue #38  is currently happening

From: 19 Albyn Drive, Livingston, UK - to: 2 Station Road, Prestonpans, UK
Start coords: (55.88032913208008, -3.524367570877075)
End coords: (52.34578323364258, 1.5044173002243042)
Time 446.55 - 493.93 minutes, distance 720.30 - 766.54 km.

Which is very much not correct.  Grabbing some debug on the returned json
```{'bounds': None, 'busi

[2021-07-19 08:46] kovacsbalu commented on #57
Hi @LucidityCrash , can you please -recheck with modified BASE_COORDS?
Search server URL is looks good for me.
`https://www.waze.com/row-SearchServer/mozi?q=2+Station+Road%2C+Prestonpans%2C+UK&max_distance_kms=&lon=-0.12996785342692366&lat=51.46451800296184&format=PROTO_JSON_FULL`

[2021-07-19 09:22] LucidityCrash commented on #57
Assuming I understand you correctly I set the BASE_COORDS for EU in WazeRouteCalculator.py to
`'EU': {"lat": 51.46451800296184, "lon": -0.12996785342692366}` and re-ran my tests and now get the same response with row-SearchServer/mozi as with SearchServer/mozi and the original BASE_COORDS.

Looks like those new BASE_COORDS are London compared to the origianals which are Budapest ?
So does this mea

[2021-07-19 09:58] kovacsbalu commented on #57
Yes, the original was Budapest, because I use this service with Hungarian addresses. :)
Probably you need to modify the code and allow to override BASE_COORDS.
You can test your search in https://www.waze.com/editor search field.

[2021-07-19 10:45] LucidityCrash commented on #57
Hmmm ... that is going to mean that the Home Assistant plugin is going to need work along side tha in order to be able to override the BASE_COORDS.

I wonder why the SearchServer/mozi path works "Properly" with the Budapest BASE_COORDS while the row-SearchServer/mozi path doesn't ?

[2021-09-29 20:53] coelholm opened #60 "Add support to calculate routes with addresses in Brazil"
Although it is possible to calculate distances using lat/long in Brazil with region AU, it is not possible to convert address to lat/long from AU region, without country information. Looks like issue is related to base coordinates. I have added BR with base coordinates and it works accordingly.

[code]
Output
[code]

Changing region to AU coordinates would be wrong
[code]

Output
[code]

I have su

[2021-10-03 21:16] vlebourl opened #61 "HA reports an error in WazeRouteCalculator"
Hey,
I'm using the waze component in Home Assistant that uses this package.
The component reports the following:
[code]
Is it coming from your side?
cheers.

[2021-10-04 05:53] MarkRK commented on #61
I am getting the same error since yesterday. Good to know i'm not the only one.

[2021-10-04 06:25] kovacsbalu commented on #61
Hi, can you please provide some details about this issue?
Which WRC version?
What was the requested route?

[2021-10-04 06:46] vlebourl commented on #61
Home Assistant uses version 0.13: https://github.com/home-assistant/core/tree/dev/homeassistant/components/waze_travel_time

In my case the route is between the current phone location to the home. Home Assistant is in charge of translating that, I don't know yet how that translates into a request.

[2021-10-04 11:22] vlebourl commented on #61
I just updated to the latest beta version of Home Assistant, and the error disappeared... I'll close this and will reopen in case it happens again.
Cheers.

[2021-10-04 11:22] #61 closed

[2021-10-12 18:26] arielsashcov opened #62 "File "...\python\python39\lib\site-packages\WazeRouteCalculator\WazeRouteCalculator.py", line 194, in calc_route_info"
File "d:\dev\python\python39\lib\site-packages\WazeRouteCalculator\WazeRouteCalculator.py", line 194, in calc_route_info
    results = route['results']
TypeError: list indices must be integers or slices, not str

[2021-10-12 19:00] #62 closed

[2021-12-10 13:24] homemain opened #64 "calc_all_routes_info always return dict with 1 value."
I'm trying to get info about possible routes between two points

[code]

I played with different addresses and input params, but `routes `  as result of `calc_all_routes_info`  always has just one element, while I expected several (according to README.md)

I dig into source of of the method and found following
[Lines 208-209 in WazeRouteCalculator](https://github.com/kovacsbalu/WazeRouteCalculator

[2021-12-10 13:33] #55 closed

[2021-12-10 14:03] kovacsbalu commented on #64
Hi @homemain, you are right, waze won't send route_name. Python dictionary drops out other items with "same" empty name.
I will fix it soon.

[2021-12-10 14:31] #64 closed

[2022-01-03 14:41] k-korn opened #65 "Can we have a release with the latest changes please?"
Commit https://github.com/kovacsbalu/WazeRouteCalculator/commit/a502c656320b7f72a57e40c5f3c8867b2f58b708 fixes some issues introduced by Waze API changes.  For example, Home Assistant Waze integration is currently broken (https://github.com/home-assistant/core/issues/61251) because HA uses WazeRouteCalculator==0.13 as a dependency.

Could you please release a new version of this awesome library wi

[2022-01-03 18:24] Smandurlo commented on #65
It does not work perfectly, it doesn't calculate the correct time #61572

[2022-01-03 19:05] kovacsbalu commented on #65
@Smandurlo can you please give an example?

[2022-01-03 19:11] Smandurlo commented on #65
https://github.com/home-assistant/core/issues/61572

[2022-01-04 11:01] fi-sch commented on #65
This is not caused by the changes that @k-korn asked to release. Your issue is probably caused by something else.

[2022-01-04 11:04] Smandurlo commented on #65
But it is not working perfectly as stated. Why to release something that is
still buggy?

Il mar 4 gen 2022, 12:01 fi-sch ***@***.***> ha scritto:

[2022-01-04 11:10] fi-sch commented on #65
What makes you conclude that the issue is on this library's side, not Home Assistant's side?

[2022-01-04 11:35] Smandurlo commented on #65
From A to B time is totally wrong, from B to A time is wrong, but at least
possible. HA gets the minutes from the integration, isn't it? So, if A to B
is 6 min and B to A is 1630 min, I think the problem is the one who
calculates the minutes, not the one that shows the results. But of course I
might be wrong. Anyway, there is something buggy somewhere.

Il giorno mar 4 gen 2022 alle ore 12:10 fi-s

[2022-01-04 12:07] kovacsbalu commented on #65
@Smandurlo, could you provide more accurate information about the calculated route? From - to address?
Not your own address, just some similar. I'm not using this lib in HA so I don't know how is it work.
You can clone my repo and fill example.py with your data.
Can you test with previous version also?

@k-korn
Let me check these issues and I will release soon.

@fi-sch thanks ;)

[2022-01-04 12:11] kovacsbalu commented on #57
I don'n know. I'm working on a new version which support custom base coord.
See #56
https://github.com/kovacsbalu/WazeRouteCalculator/pull/56#issuecomment-932252263

[2022-01-04 12:13] Smandurlo commented on #65
@kovacsbalu I will try to, but I am not that skilled with linux, so not sure I will be able to.
I can give you coordinates, I don't mind. They are "pubblic places", you can both see and rent them on airbnb and booking :-)

latitude: 42.6688309
longitude: 13.6820182

latitude: 37.138199
longitude: -7.5953

[2022-01-04 12:16] fi-sch commented on #65
@kovacsbalu Take a peek here: https://github.com/home-assistant/core/issues/61572#issuecomment-1004742067

[2022-01-04 12:45] Smandurlo commented on #65
I tried your code with just the cities and it works. I need to understand
how to use the coordinates :-)

***@***.***:~/WazeRouteCalculator # python3 example.py
From: Teramo, Italy - to: Cabanas de Tavira, Portugal
Start coords: (42.673004150390625, 13.739128112792969)
End coords: (37.139888763427734, -7.594666957855225)
Time 1361.15 minutes, distance 2626.32 km

Il giorno mar 4 gen 2022 alle ore

[2022-01-04 12:50] Smandurlo commented on #65
***@***.***:~/WazeRouteCalculator # python3 example.py
From: 42.6688, 13.6820 - to: 37.1381, -7.5953
Start coords: (42.6688, 13.6820)
End coords: (37.1381, -7.5953)
Internal Error

Il giorno mar 4 gen 2022 alle ore 13:45 Felice Marra ***@***.***>
ha scritto:

[2022-01-04 15:07] k-korn commented on #65
As far as I know, Waze in general is more city-oriented and works well with routes up to couple hundreds of km. On long routes like this there may be some issues (unable to calculate the route, etc) even in Waze app itself.

For example, on the [LiveMap](https://www.waze.com/en-GB/live-map/directions?to=ll.37.1381%2C-7.5953&from=ll.42.6688%2C13.682)  this route takes 15-20 seconds for Waze servers

[2022-01-04 15:18] Smandurlo commented on #65
I checked with the app and it works, never had an issue.
The problem is not to calculate this long distance travel (it is useless),
but at the moment it shows less than 10 minutes to home and it messes up
with other automations based on short distance.

Some people will have the same problem when too far, but very close for HA.

Il mar 4 gen 2022, 16:07 Korn ***@***.***> ha scritto:

[2022-01-04 21:59] kovacsbalu commented on #65
@k-korn, 0.14 relased :)
@Smandurlo, I will check your examples soon.

[2022-01-05 09:52] k-korn commented on #65
Thanks!

[2022-01-05 09:52] #65 closed

[2022-01-05 10:38] kovacsbalu commented on #65
@Smandurlo: probably your issue is relates to #63.
I checked long routes and got `internal error` over 5000 road segment (size of json data). With #63  fix `AVOID_TOLL_ROADS:f` the segment number decreased from 4917 to 1911 in my longest test route.
I will cretae release 0.15 soon and you can check your route or edit the code and add `self.route_options.append('AVOID_TOLL_ROADS:f')` line to `def g

[2022-01-05 10:46] Smandurlo commented on #65
Thanks :-) I will test my linux skills first to test it 😂

[2022-01-05 12:44] Smandurlo commented on #65
@kovacsbalu I think I was able to follow your instructions (I am self impressed and pleased LOL) and it seems I get a proper route and time! I will try to replace the file in my HA in Portugal and report. Should I write here or somewhere else?

[2022-01-16 06:02] Cearl03 opened #66 "Waze"

[2022-01-16 19:24] #66 closed

[2022-06-14 13:43] JosephDqs opened #67 "Calculate a time and distance matrix from WazeRouteCalculator"
Hello,
As I understand right now, the route is calculated from the date you send the request and the time_delta is only minutes you add to your current time.

Is there a way to calculate for example from 6:00 am to 8 pm the averages time and distance for each 10 minutes intervals on one day ?

Thanks for answering,

[2022-06-27 16:12] Rmfjd1978 opened #68 "using behind proxy"
I want to use wazeroutecalculator but i want to specify a proxy to use in the request made by the lib. How can i do that.

[2022-06-28 06:52] kovacsbalu commented on #68
Hi @Rmfjd1978, you can use `ENV` vars as `requests` as the doc writes: https://requests.readthedocs.io/en/latest/user/advanced/?highlight=http_proxy#proxies

[2022-06-28 06:52] #68 closed

[2022-06-28 07:47] Rmfjd1978 commented on #68
but in my case this is to use in my company and for testing in my personal computer they don't give me the proxy, so i need to override you request.

[2022-06-28 07:55] kovacsbalu commented on #67
Hi @JosephDqs,
waze routing server request has an `at` argument and as I saw in waze editor this works with negative numbers also.
So you can set it to now -X minute.
You can create a for loop with your time range.

[2022-06-28 08:03] JosephDqs commented on #67
So basically to normalize the thing,
 I can take the **current hour** and do put to argument  "**hour I want**  - **current hour**"
right ?

[2022-06-28 08:08] kovacsbalu commented on #67
Almost, you need to set minutes in `at` argument.

[2022-07-05 10:11] ghzgod opened #69 "Request to include speed trap information"
I've seen other Waze api projects on github that have this data.  Would it be possible to include it here?  Maybe even  add hazards or accidents?  Thank you.

[2022-07-05 10:15] kovacsbalu commented on #69
Can you please show some other projects?

[2022-07-05 10:16] #67 closed

[2022-08-15 06:17] vingerha opened #70 "Waze integration errors when 'overseas', prefer simple warnings or no errors"
### The problem

I have a integration between a device (phone) and home location, thus indicating the amount of time from home.
This works fine but not when the device is on an island, i.e. the example I have is when the device is on Corsica and the home address is on France mainland. Now, I am OK that this does not work but it should not throw unnecessary errors.
[code]

### What version of Home

[2022-08-15 06:50] kovacsbalu commented on #70
Hi @vingerha, this error came from HA waze_travel_time plugin. Not from my lib.
Please open a ticket here: [ha-waze_travel_time](https://github.com/home-assistant/core/issues?q=is%3Aissue+is%3Aopen+label%3A%22integration%3A+waze_travel_time%22)

[2022-08-15 06:54] vingerha commented on #70
I did open it there and was pointed to this page.... sigh

[2022-08-15 06:59] hmmbob commented on #70
@kovacsbalu the error is raised by your lib. Check the last 4 lines of the log.

[2022-08-15 07:06] kovacsbalu commented on #70
Right, thx @hmmbob.

[2022-08-15 09:51] kovacsbalu commented on #70
@vingerha can you please give coordinates to reproduce this error?

[2022-08-15 10:47] vingerha commented on #70
... not willing to share either of them exactly as private
But, it happened when the phone was on Corsica (42.435325, 9.451002) with connection to our home on the French mainland (43.68534085945735, 7.235257349163553). I have three other waze integrations that work fine when both are on the mainland

[2022-08-15 10:55] kovacsbalu commented on #70
Right, I dont want to know your private address. :)
It works with these coords
[code]

with this code:

[code]

[2022-08-15 11:01] vingerha commented on #70
Darn, so you need exact coordinates where it goes wrong.
That will be difficult as trial and error is not what I want to do...also makes no sense as that is not a real-life situation.
I searched a bit further and the start location in HA was exactly 42,44 / 9,45 (very few digits indeed)

[2022-08-15 12:59] vingerha commented on #70
Well, you can only do as much. I cannot reproduce it anylonger as not in Corsica

[2022-08-15 13:02] #70 closed

[2022-08-15 13:43] sretalla commented on #70
(42.6976289, 9.4442031)
That's the coordinates of a hotel in Bastia... Should be enough if anyone wants to look into it.